.doc-content{
    width: 50vw;
    font-size: .28rem;
    margin-right: 20vw;
    cursor: pointer;
    word-wrap:break-word;
    h2{
        font-size: .5rem;
        color: #333;
        padding: .3rem 0rem;
    }
    a{
        color: #e95d25;
        margin: 0rem .1rem;
        font-weight: 600;
        text-decoration: underline
    }
    code,.war,.err,.success,.code{
        border-radius: 4px;
        margin: .1rem 0rem;
    }
    code,.code{
        padding:2px 8px;
        line-height: .45rem;
        border:1px solid #c4c4c4;
        background: #ececec;
        display: block;
        cursor: text;
        text-align: left;
    }
    .code{
        display: inline-block;
    }
    pre{
        text-align: left;
    }
    .war,.err,.success{
        padding: .2rem;
        font-size: .24rem;
    }
    .success{
        background: #ffd9ca;
        color: #e95d25;
    }
    .war{
        background: #ffd9ca;
        color: #e95d25;
    }
    .err{
        background: #cbffca;
        color: #20b51c;
    }
}