.header{
    width: 100vw;
    height: $line-height;
    //border-bottom: 1px solid #ececec;
    // box-shadow: 0px 0px 5px #ccc;
    display: flex;
    background: #fff;
    justify-content: space-between;
    cursor: pointer;
    h1{
        display: inline-block;
        color: $bg-color;
        font-size: 0.5rem;
        line-height: $line-height;
        padding-left: 0.6rem;
        font-weight: 400;
        font-family: Georgia, serif,"Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        position: relative;
        padding-left: 2.8rem; 
        img{
            height: .7rem;
            position: absolute;
            top: 3px;
            left: 0px;
            margin-left: 1rem;
        }
    }
    ul{
        padding-right: 0.2rem;
        display: flex;
        li{
            list-style: none;
            display: inline-block;
            padding: 0rem 0.18rem;
            margin: 0rem 0.32rem;
            line-height: $line-height;
            height: $line-height;
            position: relative;
            // background: #ccc;
            text-decoration: none;
            color: #444;
            font-size: $tit-fsz;
        }
        .search{
            width: 3.6rem;
            input{
                border:1px solid #ececec;
                border-radius: 3rem;
                width: 3.6rem;
                height: 0.4rem;
                position: absolute;
                top: .16rem;
                color: #aaa;
                display: inline-block;
                padding: 0.24rem .6rem 0.24rem 0.3rem;
                box-sizing: border-box;
                line-height: 0.5rem;
            }
            img{
                width: 0.3rem;
                position: absolute;
                top: 0.28rem;
                right: 0.4rem;
            }
        }
        .github {
            margin: 0rem;
            width: 0.5rem;
            img{
                width: 0.4rem;
                position: absolute;
                top: .18rem;
            }
            
        }
        .active{
            color: $bg-color;
        }
    }
}
.csbg{
    height: 2px;
    margin-top: 3px;
    background: -moz-linear-gradient(90deg, #F71111 0, #ED15D0 50%, #6A14FF 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0, F71111), color-stop(50%, ED15D0), color-stop(100%, 6A14FF));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #F71111 0, #ED15D0 50%, #6A14FF 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #F71111 0, #ED15D0 50%, #6A14FF 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #F71111 0, #ED15D0 50%, #6A14FF 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(90deg, #F71111 0, #ED15D0 50%, #6A14FF 100%);/* W3C */
}